.card-pricing_container{
    position: absolute;
    bottom: 0px;
    left: 0;
    /*quando usar o position absolute é importante passar as coordenadas de onde vai ficar o elemento*/

    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: flex;
    flex-direction: column;

}

.card-pricing_title{
    margin-bottom: 3px;

}

.card-pricing_value{
    display: flex;
    justify-content: space-between;
}

.card-pricing_value_console{
    display: flex;
}

.card-pricing_value_console > span{
    font-weight: bolder;
    color: aqua;
    margin-right: 10px;
}