<div class="home_container">
    <app-card 
        gameCover="../../assets/bt-1.jpg" 
        gameLabel="Exclusive"
        gameType="Digital PS5"
        gamePrice="R$ 248,50">
        
    </app-card>

    <app-card 
        gameCover="../../assets/bt-4.jpg"  
        gameLabel="Digital"
        gameType="Full Game |PS3|PS4"
        gamePrice="R$ 99,90">
    </app-card>

    <app-card 
        gameCover="../../assets/bt-5.jpg"  
        gameLabel="Cross-Buy"
        gameType="Full Game PS4|PS5"
        gamePrice="R$ 299,90">
    </app-card>

    <app-card 
        gameCover="../../assets/ac-cover.jpg" 
        gameLabel="Digital" 
        gameType="PS3|PS4|PS5"
        gamePrice="R$ 499,90">
    </app-card>
</div>
